{% extends "base.html" %} 
{% load static %}
{% block about %}

  <div class="about_wrapper">
    <img class="layer1-1 desktop" src="/../media/layout/basil_bg_png/F_01_01.png" alt="" data-900="top:100px;">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul>
          <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Home</a>
          </li>
          <li class="breadcrumbs-item">
            <a href="{% url 'about_view'  %}"class="breadcrumbs-link">
                About 
            </a>
          </li>
      </ul>
    </div>
    <div class="about_background">
      <div class="about_container">
        <div class="moto5"> 
          <h2>About</h2>
          <h1>us</h1>
        </div>

        <div class="about-text">
          <p>Whatever we are doing, creating, thinking, we can feel the moment and do it with passion. This is an inbuilt part of us, it is our nature, the same as we are part of this world, together with all other creatures. By respecting and being compassionate towards all living beings we are just fulfilling our true self. 
            Because that's what we are... passion as well as compassion. We explore this together with you... </p>
        </div>
        
        <div class="about-list" >
          <div style="color:var(--main); left:0">
            <h2>Founders and editors</h2>
          </div>
          {% for author in authors_list %}
            <div class="{% cycle 'hero5-card1' 'hero5-card2' %}">
              <div class="{% cycle 'hero5-card1-pic' 'hero5-card2-pic' %}">
                <img src="/../media/authors{{author.id}}/pic/author_pic{{author.id}}.jpeg" alt="">  
              </div>
              <div class="{% cycle 'hero5-card1-text' 'hero5-card2-text' %}">
                  <h3>{{author.name}}</h3>

                  <p>{{author.description|safe}}</p>
              </div>
            </div>
          
          {% endfor %}
        </div>
      </div>
  </div>
</div>
  
{% endblock about %}