{% block about %}
<div class="about">
  <hr></hr>
  <p>Whatever we are doing, creating, thinking, we can feel the moment and do it with passion. 
    This is an inbuilt part of us, it is our nature, the same as we are part of this world, together with all other creatures. 
    By respecting and being compassionate towards all living beings we are just fulfilling our true self. 
    Because that's what we are... passion as well as compassion.
    Let's explore this together.</p>
  <hr></hr>
</div>
{% endblock about %}