{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive_desktop_big.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive_desktop.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive_phone.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Bite With Zest! - the ultimate Life Zest blog</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="{% static 'img/BwZ_logo_W.png' %}" alt="logo"></a>
    </div>
    <nav>
      <ul id="nav_ul">
        <li class="{% if request.resolver_match.url_name  == 'about_view' %}active{% endif %}"><a href="{% url 'about_view'  %}">About</a></li>
        <li class="{% if request.resolver_match.url_name  == 'contact_view' %}active{% endif %}"><a href="{% url 'contact_view'  %}">Contact</a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>  <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </header>
  <nav class="navbar" id="navbar">
    <ul id="navbar_ul">
    {% for category in cat_list %}
      <li class="{% if category.description == object.description %}active{% endif %}"><a href="{% url 'category_view' category.slug  %}" >{{category.description}}</a></li>
    {% endfor %}
    </ul>
    <div class="menu-toggle" id="menu-toggle" onclick="toggleX(this)">
      <div class="bar1" id="bar1"></div>
      <div class="bar2" id="bar2"></div>
      <div class="bar3" id="bar3"></div>
    </div>
  </nav>
  <div class="wrapper">
    <!-- CONTENT -->
    {% if request.resolver_match.url_name  == 'about_view' %}
	    {% block about %}{% endblock about %}
    {% endif %} 
    {% if request.resolver_match.url_name  == 'contact_view' %}
	   	{% block contact %}{% endblock contact %}
    {% endif %} 
    {% block post_content %}{% endblock post_content %}
    {% block post_listed_showcase %}{% endblock post_listed_showcase %} 
    {% block thankyou %}{% endblock thankyou %} 
    {% block invalidfields %}{% endblock invalidfields %} 
    {% block post_showcase %}{% endblock post_showcase %} 
    
    <!-- CONTENT -->

    <img class="before_footer" src="/../media/layout/footer_basil.png">
    <footer>
      <div class="footer_container">
        <div class="sec aboutus">
          <h2>About Us</h2>
          <p>Whatever we are doing, creating, thinking, we can feel the moment and do it with passion. 
            This is an inbuilt part of us, it is our nature, the same as we are part of this world, together with all other creatures. 
            By respecting and being compassionate towards all living beings we are just fulfilling our true self. 
            Because that's what we are... passion as well as compassion.
            We explore this together with you...
            </p>
          <ul class="sci">
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="sec quicklinks">
          <h2>Quicklinks</h2>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>

        <div class="sec footer_contact">
          <h2>Contact</h2>
          <ul class="footer_contact_info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span>Guntherstr. 9, <br> 1150 Vienna, <br>  Austria</span>
            </li>
            <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>
              +43 680 1446331</li>
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <a href="mailto:contact@bitewithzest.com">E-Mail</a></li>
          </ul>
        </div>
        <div class="sec footer_placeholder">

        </div>
      </div>
    
    <div class="copyright_text">
      <p>For creation of this website no animal was harmed.<br />Copyright © 2021 BiteWithZest.<br />
        All rights reserved. Unauthorized use of copyrighted content is prohibited and punishable.</p>   
    </div>
  </footer>
</div>
  <script src="{% static 'js/scrollr.js' %}"></script>
  <script>
    var s = skrollr.init();
    var w = window.outerWidth;
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    var djangoView = "{{ request.resolver_match.url_name }}";
    const accordion = document.getElementsByClassName('accordion');
  

    for (var i = 0, len = accordion.length; i < len; i++){
      accordion[i].addEventListener('click', function(){
        this.classList.toggle('active');
      })
    }
    

    if (w <= 769) {
      s.destroy();
      window.onscroll = function() {beSticky()};
      var bcWidth = 0;
      
      var maintext = document.getElementsByClassName('maintext');
      var documentImages = document.getElementsByTagName('img');
      var result = '';
      for (var i=0, len=documentImages.length|0; i<len; i=i+1|0) {
        result = documentImages[i].style.width;
        if (parseInt(result,10) >= 400){
          documentImages[i].style.width = '100%';
        }
      }
      
      

      function toggleX(x) {
        // console.log(sticky);
        x.classList.toggle("change");
        var navbar_ul = document.getElementById("navbar_ul");
        var bar1 = document.getElementById("bar1");
        var bar3 = document.getElementById("bar3");
        if (x.className == "menu-toggle change"){
          console.log('change yes');
          navbar_ul.style.display = 'flex';
          bar1.style.backgroundColor = "rgb(0, 170, 179)";
          bar3.style.backgroundColor = "rgb(0, 170, 179)";
          // navbar.classList.add("sticky");
          navbar_ul.style.zIndex = 10;
          navbar.style.zIndex = 10;
        } else {
          console.log(navbar.classList);
          console.log('change no');
          navbar_ul.style.display = 'none';
          bar1.style.backgroundColor = "white";
          bar3.style.backgroundColor = "white";
          beSticky();
      
        }  
      }
      document.onclick = function (e) {
        console.log(e.target.parentNode.offsetParent.className);
        var menuToggle = document.getElementById("menu-toggle");
        if (e.target.id !== 'navbar_ul' && e.target.id !== 'menu-toggle' && 
          e.target.id !== 'change' && e.target.id !== 'bar3' && e.target.id !== 'bar2' && e.target.id !== 'bar1' && 
          e.target.parentNode.offsetParent.className !== 'accordion')
        {
          menuToggle.classList.remove('change');
          navbar_ul.style.display = 'none';
          bar1.style.backgroundColor = "white";
          bar3.style.backgroundColor = "white";
          
        }
        if (!(e.target instanceof HTMLAnchorElement) && (e.target.id !== 'fname' && 
        e.target.id !== 'email' && e.target.id !== 'subject' && e.target.id !== 'message' && 
        e.target.id !== 'menu-toggle' && e.target.id !== 'bar3' && e.target.id !== 'bar2' && 
        e.target.id !== 'bar1' && e.target.parentNode.offsetParent.className !== 'accordion' && 
        e.target.parentNode.offsetParent.className !== 'accordion active' && window.pageYOffset > sticky))
        {
          navbar.style.position = 'fixed';
          navbar.style.top = 0;
          navbar.style.zIndex = 2;
        }
      }
      function beSticky() {
        if (window.pageYOffset >= sticky) {
          navbar.style.position = 'absolute';
          navbar.style.top = '100px';
        } 
      }
    } else {
      window.onscroll = function() {beSticky()};
      var bcWidth = 0;
      var piWidth = 0;
      var factor = 0;
      var leftOffset = '';
      var refElement = [];
      if (djangoView == 'post_detail'){
        var refElement = document.getElementsByClassName('post-intro');
        factor = 1;
      } else if (djangoView == 'category_view'){ 
        var refElement = document.getElementsByClassName('gallery-cat');
        factor = 0.7;
      } else if (djangoView == 'contact_view'){ 
        var refElement = document.getElementsByClassName('contact_container');
        factor = 1;
      } 
      var breadcrumbs = document.getElementsByClassName('breadcrumbs');
      var bc = document.getElementById('breadcrumbs');
      for (var i = 0, len = breadcrumbs.length; i < len; i++) {
        bcWidth += breadcrumbs[i].offsetWidth;
      }
      for (var i = 0, len = refElement.length; i < len; i++) {
        piWidth += refElement[i].offsetWidth;
      }
      piWidth = piWidth * factor;
      
      if (djangoView == 'post_detail'){
        leftOffset = -(piWidth-bcWidth)+'px';
        bc.style.marginLeft = leftOffset;
        console.log(djangoView);
      } else if (djangoView == 'category_view'){ 
        leftOffset = (bcWidth-piWidth)/2+'px';
        console.log(bcWidth);
        console.log(piWidth);
        bc.style.marginLeft = leftOffset;
        
      }
      else if (djangoView == 'contact_view'){ 
        leftOffset = -(piWidth-bcWidth)+'px';
        console.log(bcWidth);
        console.log(piWidth);
        bc.style.marginLeft = leftOffset;
        
      }
      //ovdje je sve dobro. ne diraj
      function beSticky() {
        console.log(sticky);
        if (window.pageYOffset >= sticky) {
          navbar.style.position = 'fixed';
          navbar.style.top = 0;
        } else {
          navbar.style.position = 'absolute';
          navbar.style.top = '100px';
        }
      }
    }
   
    
    
    

  </script>

  
</body>
</html>