{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <title>Bite With Zest! - the ultimate Life Zest blog</title>
</head>

<body>

  <div class="wrapper">
    
    <div class="header">
      <div class="navbar">
        <a href="/" class="logo" title="BiteWithZest">
          <img src="{% static 'img/BWZ_logo_red_2.png' %}" alt="logo">        
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="#about">Enjoy the food</a></li>
          <li><a href="#careers">Immunity boosting </a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  

    <div class="content">
      {% block about %}{% endblock about %}

      {% block post_content %}{% endblock post_content %}

      {% block post_showcase %}{% endblock post_showcase %}   

    </div>  
    {% block footer_showcase %}{% include 'footer.html' %} {% endblock %}
  </div>
  <script></script>
</body>
</html>