{% load i18n %}


      <div class="moto5" style="margin-top: 10%;"> 
          <h2>BITEwithZEST</h2>
          <h1>Shop</h1> 
      </div>
    <div class="cat_background">
      <div class="cat_container">
        <div class="gallery-cat" id="galleryCat">   
          {% if LANGUAGE_CODE != 'de' %}
            <a href="mailto:hello@bitewithzest.com?Subject=Order%20Balkan%20VEGAN&Body=Hello%21%0AI%20would%20like%20to%20order%20the%20book%20%22Balkan%20VEGAN%22.%0AI%20am%20aware%20that%20shipping%20cost%20will%20be%20charged%20additionally.%0APlease%20send%20me%20the%20confirmation%20with%20details.%0A%0ABest%20regards%21" class="post-cat-card1">
          {% else %}
            <a href="mailto:hello@bitewithzest.com?Subject=Bestellung%20Balkan%20VEGAN&Body=Hallo%21%0AIch%20moechte%20gerne%20das%20Buch%20%22Balkan%20VEGAN%22%20bestellen.%0AMir%20ist%20bewusst%2C%20dass%20die%20Versandkosten%20zusaetzlich%20berechnet%20werden.%0ABitte%20senden%20Sie%20mir%20die%20Bestaetigung%20mit%20den%20Details.%0A%0AMit%20freundlichen%20Gruessen%21" class="post-cat-card1">
          {% endif %}
                <div class="post-cat-card1">
                  <div class="post-cat-card1-pic">
                    <img src="/../media/layout/Balkan_VEGAN_bks_Page_001.jpg" alt="">
                  </div>
                  <div class="post-cat-card1-text">
                    <span>
                      {% trans 'Serbo-Croatian' %}
                    </span>
                    <div class="post-cat-card1-info"> 
                      <p><span style="color:#00aab3"><strong>Balkan VEGAN</strong></span>&nbsp;Specijaliteti balkanske kuhinje na biljnoj osnovi          
                      </p>
                      <p>€ 27,00</p> 
                    </div>
                  </div>
                </div>
              </a>
              {% if LANGUAGE_CODE != 'de' %}
                <a href="mailto:hello@bitewithzest.com?Subject=Order%20Balkan%20VEGAN&Body=Hello%21%0AI%20would%20like%20to%20order%20the%20book%20%22Balkan%20VEGAN%22.%0AI%20am%20aware%20that%20shipping%20cost%20will%20be%20charged%20additionally.%0APlease%20send%20me%20the%20confirmation%20with%20details.%0A%0ABest%20regards%21" class="post-cat-card2">
              {% else %}
                <a href="mailto:hello@bitewithzest.com?Subject=Bestellung%20Balkan%20VEGAN&Body=Hallo%21%0AIch%20moechte%20gerne%20das%20Buch%20%22Balkan%20VEGAN%22%20bestellen.%0AMir%20ist%20bewusst%2C%20dass%20die%20Versandkosten%20zusaetzlich%20berechnet%20werden.%0ABitte%20senden%20Sie%20mir%20die%20Bestaetigung%20mit%20den%20Details.%0A%0AMit%20freundlichen%20Gruessen%21" class="post-cat-card2">
              {% endif %}
                <div class="post-cat-card2">
                  <div class="post-cat-card2-pic">
                    <img src="/../media/layout/Balkan_VEGAN_de_cover_01.jpg" alt="">
                  </div>
                  <div class="post-cat-card2-text">
                    <span>        
                      {% trans 'German' %}
                    </span>
                    <div class="post-cat-card2-info">
                      <p><span style="color:#00aab3"><strong>Balkan VEGAN</strong></span>&nbsp;Pflanzliche Spezialitäten der Balkanküche          
                      </p>
                      <p>€ 27,00</p> 
                    </div>
                  </div>
                </div>
              </a>
              {% if LANGUAGE_CODE != 'de' %}
                <a href="mailto:hello@bitewithzest.com?Subject=Order%20Balkan%20VEGAN&Body=Hello%21%0AI%20would%20like%20to%20order%20the%20book%20%22Balkan%20VEGAN%22.%0AI%20am%20aware%20that%20shipping%20cost%20will%20be%20charged%20additionally.%0APlease%20send%20me%20the%20confirmation%20with%20details.%0A%0ABest%20regards%21" class="post-cat-card1">
              {% else %}
                <a href="mailto:hello@bitewithzest.com?Subject=Bestellung%20Balkan%20VEGAN&Body=Hallo%21%0AIch%20moechte%20gerne%20das%20Buch%20%22Balkan%20VEGAN%22%20bestellen.%0AMir%20ist%20bewusst%2C%20dass%20die%20Versandkosten%20zusaetzlich%20berechnet%20werden.%0ABitte%20senden%20Sie%20mir%20die%20Bestaetigung%20mit%20den%20Details.%0A%0AMit%20freundlichen%20Gruessen%21" class="post-cat-card1">
              {% endif %}
                <div class="post-cat-card1">
                  <div class="post-cat-card1-pic">
                    <img src="/../media/layout/Balkan_VEGAN_eng_Page_001.jpg" alt="">
                  </div>
                  <div class="post-cat-card1-text">
                    <span>
                      {% trans 'English' %}
                    </span>
                    <div class="post-cat-card1-info">                                
                      <p><span style="color:#00aab3"><strong>Balkan VEGAN</strong></span>&nbsp;Plant-based specialties of Balkan cuisine          
                        </p>
                        <p>€ 27,00</p> 
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>    
  
            
   
        
         
       
        

        











