{% extends "base.html" %} 
{% block about %} {% include 'about.html' %} {% endblock about %}
{% block post_showcase %}

<div class="gallery">
        <!-- Blog Entries Column -->
  {% for post in post_list %}
  <div class="item-{{post.id}}">
      <a href="{% url 'post_detail' post.slug  %}" class="card">
        <div class="thumb" style="background-image: url(./media/post{{post.id}}/thumbs/post_thumb{{post.id}}.jpg);"></div>
        <article>
          <h1>{{ post.title }}</h1>
          <span>{{ post.author }} | {{ post.created_on}}</span>
        </article>
      </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
 
