{% extends 'base.html' %} 
{% block post_content %}
<div class="post-body">
    <ul class="breadcrumbs">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Home</a>
        </li>
        <li class="breadcrumbs-item">
            {% for category in cat_list %}
                {% if category.description == post.category %}
                <a href="{% url 'category_view' category.slug  %}"class="breadcrumbs-link">
                    {{ object.category }}
                </a>
                {% endif %}
            {% endfor %} 
        </li>
        <li class="breadcrumbs-item">
            <a href="{% url 'post_detail' post.slug  %}" class="breadcrumbs-link">{{ object.title }}</a>
        </li>
    </ul>
    <div class="intro">
        <div class="picture">
            <img src="../static/media/post{{post.id}}/intro/post_intro{{post.id}}.jpg" alt=""> 
            <div class="post-title-figure"><h1> {{ object.titleplus }} </h1></div>         
        </div>
        <div class="intro-text">  
            {{ object.intro | safe }}
        </div>
        <div class="post-date">{{ object.created_on | date:"F d Y"}}, {{ object.author}}</div>
    </div>
    <div class="mobile-food-logo">
        <img src="../static/img/carrots-logo.jpg" alt=""> 
    </div>   
    <div class="post-content">
        <div class="maintext">
            {{ object.maintext | safe }}
        </div> 
        <div class="post-title">
            {{ object.title }} 
        </div>
        <div class="preparation" id="preparation">
            {% if object.intro1 %} 
            <div class="intro1">
                {{ object.intro1 | safe }}    
            </div>
            {% endif %} 
            {% if object.intro_pic %}
                <img src="../static/media/post{{post.id}}/intro/post_intro{{post.id}}.jpg" alt="">
            {% endif %}    
            {{ object.legend | safe }}  
        </div>    
        <div class="ingredients"> 
            {{ object.ingredients | safe }}
        </div>
        <div class="preparationtext"> 
            {{ object.preparationtext | safe }}
        </div>
        
         
        {% if object.relates_to.id != 1 %}
        <a href="{% url 'post_detail' object.relates_to.slug  %}">
        <div class="link-post-card"> 
            <div class="link-post-card__img">
                <img src="../../media/post{{object.relates_to.id}}/thumbs/post_thumb{{object.relates_to.id}}.jpg" alt="">
            </div>
                <div class="link-post-card__info">
                    <!-- <div class="link-post-card__date">
                        <span>{{ object.relates_to.created_on | date:"F d Y"}}</span>
                    </div> -->
                <!-- <h1 class="link-post-card__title">{{object.relates_to.title}}</h1> -->
                <p class="link-post-card__text" id="link-post-card__text">{{object.relates_to.relates_to_desc}} </p>
            </div>
        </div>
        </a>
        {% endif %} 
        {% if object.outro %}   
            <div class="outro"> 
                {{ object.outro | safe }}
            </div> 
        {% endif %}
        {% if object.add_pic %} 
            <div class="add_pic">
             <img src="../../media/post{{post.id}}/add/post_add{{post.id}}.jpg" alt=""> 
             <article>
                {{ object.add_pic_desc }}
              </article>
            </div> 
        {% endif %}
        
        {% if object.tip %}
            <div class="tip"> 
                {{ object.tip | safe }}
            </div>
        {% endif %}

        
    </div>
    <div class="post-footer">

    </div>

    </div> 


{% endblock post_content %}

{% block post_content_css %} {% include 'post_detail_css.html' %} {% endblock post_content_css %}

