{% extends "base.html" %} 
{% load static %}

{% block post_listed_showcase %}

<div class="cat-wrapper">
{% if object.description  != 'FAQ' %}
<img class="layer2-1 desktop" src="/../media/layout/basil-10.png" alt="" data-400="top:250px; left:74%; width:20%">
{% endif %}
  <div class="breadcrumbs"  id="breadcrumbs">
    <ul>
        <li class="breadcrumbs-item">
          <a href="/" class="breadcrumbs-link">Home</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="{% url 'category_view' category.slug  %}"class="breadcrumbs-link">
              {{ object.description }} 
          </a>
        </li>
    </ul>
  </div>
  {% if object.description != 'FAQ' %}
    <div class="moto5" style="margin-top: 10%;"> 
      {% if object.description == 'Recipes' %}
        <h2>Plant-based</h2>
        <h1>Recipes</h1>
      {% elif object.description == 'Lexicon of plants' %}
        <h2>Lexicon</h2>
        <h1>of plants</h1>
      {% elif object.description == 'Immunity Boosting' %}
        <h2>Immunity</h2>
        <h1>boosting</h1>
      {% elif object.description == 'Our Planet' %}
        <h2>Our</h2>
        <h1>Planet</h1>
      {% elif object.description == 'Lifestyle' %}
        <h2>Plant-based</h2>
        <h1>Lifestyle</h1>
      {% endif %}
    </div>
  {% endif %}
  
  {% if object.description  == 'FAQ' %}
  {% include 'index_faq.html' %}
  {% endif %}
  
  <div class="cat_background">

    <div class="cat_container">
      <div class="gallery-cat" id="galleryCat">
        
        {% if request.resolver_match.url_name  == 'category_view' %}
          {% for post in post_cat_list %}
            {% if object.description == post.category %}
            <a href="{% url 'post_detail' post.slug  %}" class="{% cycle 'post-cat-card1' 'post-cat-card2'%}">
              <div class="{% cycle 'post-cat-card1' 'post-cat-card2'%}">
                <div class="{% cycle 'post-cat-card1-pic' 'post-cat-card2-pic' %}">
                  <img src="../../media/post{{post.id}}/thumbs/post_thumb{{post.id}}.jpg" alt="">
                </div>
                <div class="{% cycle 'post-cat-card1-text' 'post-cat-card2-text' %}">
                  <span>{{ post.titleplus|safe|slice:"47" }}{% if post.titleplus|safe|length > 47 %}...{% endif %}</span>

                  <div class="{% cycle 'post-cat-card1-info' 'post-cat-card2-info' %}">
                    {% if object.description == 'Recipes' %}
                    <p>{{ post.legend|safe}}</p>
                    {% else %}
                    <p>{{ post.intro|safe|slice:"181" }}{% if post.intro|safe|length > 181 %}...{% endif %}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %} 
          {% endif %}     
        </div>
      </div>
    </div>
</div> 
<div class="paginator">
  {% if post_cat_list.has_previous %}
  <a class='prev' href="{% url 'category_view' object.slug  %}?page={{post_cat_list.previous_page_number}}">◄</a>
  {% endif %} 
  {% if post_cat_list.paginator.num_pages > 1 %}
    {% for n in post_cat_list.paginator.page_range %}
      {% if post_cat_list.number == n %}
        <span class="count_active">{{ n }}</span>
      {% elif n > post_cat_list.number|add:'-3' and n < post_cat_list.number|add:'3' %}
        <a class="count" href="?page={{ n }}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}  
  {% if post_cat_list.has_next %}
  <a class='next' href="?page={{post_cat_list.next_page_number}}">►</a>
  {% endif %}
</div>  

{% endblock  %}


  

