{% load static %}
{% block post_content_css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr 120px;
        grid-template-areas: 
        "nav"
        "post-body"
        "footer";
        gap: 1px;
    } 

    
    .post-body{
        display: grid;
        max-width: 1440px;
        margin: 100px auto;
                   ;
        column-gap: 10px 25px;
        font-family: 'Rubik', serif;
        font-size: 24px;
        color: var(--black);
        border-top: 7px solid var(--red);
    }
    
    .intro{
        display: grid;
        grid-template-areas: 
            "picture picture picture intro-empty"
            "picture picture picture intro-empty"
            "picture picture picture intro-empty"
            "picture picture picture intro-text" 
            "picture picture picture post-date" 
    }

    .picture{
        grid-area: picture;
        position: relative;
        text-align: center;
        color: var(--black);
             
    }
    .picture img{
        width: 1000px;
        height: 600px;
        object-fit: cover;
    }
    .post-title-figure {
        position: absolute;
        top: 20px;
        right: -300px;
        display: table-cell; /* keep the background color wrapped tight */
        margin: 20px; 
        padding-left: 27px;
        font-size:23px;
        background-color:rgba(255, 255, 255, 0.8);
        max-width: 600px;
        color: var(--red);
        text-align: left;
    }

    .intro-text{
        grid-area: intro-text;
        padding: 20px;
    }

    .intro-empty{
        grid-area: intro-empty;
    }

    .post-date{
        grid-area: post-date;
        bottom: 0;
        padding-left: 20px;
        font-style: italic;
        color: rgb(153, 153, 153);
    }
    
    .post-content {
        display: grid;
        max-width: 1440px;
        margin: 100px auto;
        grid-template-columns: 3fr 12fr 5fr;
        grid-gap: 10px 30px;
    }
    .post-content>* {
        grid-column: 2/span 1;
    }

    .post-title{
        display: grid;
        font-size: 35px;
        font-weight: 500;
        border-bottom: 5px solid var(--red);
        color: var(--red);
    }

    .preparation{
        display: grid;
        grid-template-columns: 3fr auto;  
        margin-top: 20px;  
    }
    .preparation img{
        grid-column: 2/span 1;
        grid-row: 1/span 4;
        width: 210px;
        height: 210px;
        object-fit: cover;
    }

    .preparation .webicons1 {
        display: inline;
        grid-column: 1/-2;
        height: 30px;
        font-size: 23px;
        padding-left: 35px; 
        background-image: url({% static 'img/web_icons.png' %});
        background-size: contain;
        background-repeat: no-repeat;
    }
    .preparation .webicons2 {
        grid-column: 1/-2;
        height: 30px;
        font-size: 23px;
        padding-left: 35px; 
        background-image: url({% static 'img/web_icons2.png' %});
        background-size: contain;
        background-repeat: no-repeat;

    }

    .preparation .webicons3 {
        grid-column: 1/-2;
        height: 30px;
        font-size: 23px;
        padding-left: 35px; 
        background-image: url({% static 'img/web_icons3.png' %});
        background-size: contain;
        background-repeat: no-repeat;
    }
    .preparation .webicons4 {
        grid-column: 1/-2;
        height: 30px;
        font-size: 23px;
        padding-left: 35px; 
        background-image: url({% static 'img/web_icons4.png' %});
        background-size: contain;
        background-repeat: no-repeat;

    }


    .post-body .sidenav > ul{
        font-size: 15px;
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 10px; /* Remove margins */
    }

    .post-body .sidenav > ul a:link {
        text-decoration: none;
        color: var(--black);
    }

   

  

    
    .post-body .maintext  {
        margin-bottom: 25px;
    }

    .tip{
        background: #fafafa;
        padding: 10px;
    }

    .tip1{
        grid-column: 1/ span 1;
        text-align: center;

        /* border-right: 2px solid #f33233 ; */
    }
    
</style>
{% endblock post_content_css %}