{% extends 'base.html' %} 
{% load shuffle %}
{% block post_content %}

<div class="post-body">
    <img class="layer2-1 desktop" src="/../media/layout/basil-5.png" alt="" data-400="top:170px; left:84%; width:15%">
    <img class="layer2-1 desktop" src="/../media/layout/basil-4.png" alt="" data-400="top:900px; left:4%; width:15%">
    <div class="breadcrumbs" id="breadcrumbs">
        
        <ul>
            <li class="breadcrumbs-item">
                <a href="/" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumbs-item">
                {% for category in cat_list %}
                    {% if category.description == post.category %}
                    <a href="{% url 'category_view' category.slug  %}"class="breadcrumbs-link">
                        {{ object.category }} 
                    </a>
                    {% endif %}
                {% endfor %} 
            </li>
            {% for subcategory in subcat_list %}
                {% if subcategory.name == post.subcategory %}
                <li class="breadcrumbs-item">
                    <a href="{% url 'subcategory_view' subcategory.slug  %}"class="breadcrumbs-link">
                        {{ post.subcategory }}
                    </a>            
                </li>
                {% endif %}
            {% endfor %}
            <li class="breadcrumbs-item mobile">
                <a href="{% url 'post_detail' post.slug  %}" class="breadcrumbs-link">{{ object.title|safe|slice:"31" }}{% if object.title|safe|length > 31 %}...{% endif %}</a>
            </li>
            <li class="breadcrumbs-item desktop">
                <a href="{% url 'post_detail' post.slug  %}" class="breadcrumbs-link">{{ object.title}}</a>
            </li>
        </ul>
    </div>
    <div class="post-intro">
        <div class="post-opener">
            {% if post.category == 'Lexicon of plants'%}
            <img class="layer1-1 desktop" src="../media/layout/bg_plants.png" alt=""> 
            <img class="layer1-1 mobile " src="../media/layout/bg_plantsMob.png" alt=""> 
            <img class="bg-post marginTop9em" src="../media/{{post.opener_pic}}" alt=""> 
            {% else %} 
            <img class="bg-post" src="../media/{{post.opener_pic}}" alt=""> 
            {% endif %} 
                   
        </div>

        
        <div class="intro-text">  
            <div class="post-title"><h1>{{ object.titleplus | safe }}</h1></div>  
            <div class="post-intro-text">
                {% if post.category == 'Recipes' %}
                    {{ object.intro | safe }}
                {% endif %} 
            </div>
                {% if object.custom_date %}
                <div class="post-date">{{ object.custom_date | date:"F d Y"}}, <br>{{ object.author}}</div>
                {% else %}    
                <div class="post-date">{{ object.created_on | date:"F d Y"}}, <br>{{ object.author}}</div>
                {% endif %} 
            
            
            
        </div>
        
            
    </div> 
    <div class="post-content">
        <div class="fill-left">
            
        </div>
        <div class="fill-right">
            {% if object.additionaltext %}   
                {{ object.additionaltext | safe }} 
            {% endif %}   
        </div>
        <div class="content">
            
            <div class="maintext" id="maintext">
                <strong>
                {% if post.category != 'Recipes' %}
                {{ object.intro | safe }}
                {% endif %} 
                </strong>
                {{ object.maintext | safe }}
            </div> 
            
            <div class="preparation flex-direction-column" id="preparation">
                <div class="preparation-content">
                    {% if not object.title_invisible %}
                    <div class="post-title-inner">
                        <h2>{{ object.title }}</h2>
                    </div>
                    {% endif %}
                    {% if object.intro1 %} 
                    <div class="intro1">
                        {{ object.intro1 | safe }}    
                    </div>
                    <div class="legend">
                        {{ object.legend | safe }} 
                    </div>
                    {% endif %} 
                </div>
                <div class="preparation-pic">
                    {% if object.intro_pic %}
                        <img src="../media/{{post.intro_pic}}" alt=""> 
                    {% endif %} 
                </div>
                    
            </div>   
             
            <div class="ingredients"> 
                {{ object.ingredients | safe }}
            </div>
            <div class="preparationtext"> 
                {{ object.preparationtext | safe }}
            </div>
        
        
         
        {% if object.relates_to.id != 1 %}
        <a href="{% url 'post_detail' object.relates_to.slug  %}">
        <div class="link-post-card flex-direction-column marginTop30perc marginBottom30perc"> 
            <div class="link-post-card__img">
                <img  src="../../media/{{object.relates_to.opener_pic}}" alt="">
            </div>
                <div class="link-post-card__info">
                    <img class="width40perc" src="../../media/layout/tip.png" alt="">    
                    <p class="link-post-card__text" id="link-post-card__text">{{post.relates_to_desc}} </p>
                    <p class="link-post-card__title">{{object.relates_to.title}}</p>
                    {{ object.relates_to.legend | safe}}
            </div>
        </div>
        </a>
        {% endif %} 
        {% if object.outro %}   
            <div class="outro"> 
                {{ object.outro | safe }}
            </div> 
        {% endif %}
        {% if object.add_pic %} 
            <div class="add_pic">
             <img src="../../media/{{post.add_pic}}" alt=""> 
             <article>
                {{ object.add_pic_desc }}
              </article>
            </div> 
        {% endif %}
        
        {% if object.tip %}
            <div class="tip"> 
                {{ object.tip | safe }}
                <div class="tip-pic">    
                    <img class="width40perc" src="../../media/layout/tip.png" alt=""> 
                </div>
            </div>
        {% endif %}
        {% if object.credits %}   
            <div class="credits">
                {{ object.credits | safe }} 
            </div>    
        {% endif %}
        
    </div>
</div>
    

</div>
<div class="post-footer">
    
        <!-- Blog Entries Column -->
    <div class="cat-header">
      <div class="cat-header-col1 post-cat-title">FEATURED</div>
      <div class="cat-header-col2"></div>
    </div>
    <div class="featured">
        {% for post in post_featured_list|shuffle|slice:":3" %}
        <a href="{% url 'post_detail' post.slug  %}">
        <div class="{% cycle  'card_featured1' 'card_featured2' %}">
            <div class="{% cycle  'card_featured1-pic' 'card_featured2-pic' %}">
            <img src="../media/{{post.opener_pic}}" alt="" />
            </div>
            <div class="{% cycle  'card_featured1-text' 'card_featured2-text' %}">
                <h3>{{post.title}}</h3>

                <p>{{ post.intro|safe|slice:"171" }}{% if post.intro|safe|length > 171 %}...{% endif %}</p>
            </div>  
        </div>
        </a>
        {% endfor %}
    </div>
</div>

</div> 

{% endblock post_content %}



