{% extends 'base.html' %} 


{% block post_content %}
<div class="post-body">
    <ul class="breadcrumbs">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Home</a>
        </li>
        <li class="breadcrumbs-item">
            <a href="{% url 'post_detail' post.slug  %}" class="breadcrumbs-link">{{ object.title }}</a>
        </li>
    </ul>
    <div class="intro">
        <div class="picture">
            <img src="../static/media/post{{post.id}}/intro/post_intro{{post.id}}.jpg" alt=""> 
            <div class="post-title-figure"><h1> {{ object.title }}  {{ object.titleplus }} </h1></div>         
        </div>
        <div class="intro-text">  
            {{ object.intro | safe }}
        </div>
        <div class="post-date">{% block created_on %} {{ object.created_on | date:"F d Y"}} {% endblock  %}</div>
    </div>
    <div class="mobile-food-logo">
        <img src="../static/img/carrots-logo.jpg" alt=""> 
    </div>   
    <div class="post-content">
        <div class="maintext">
            {{ object.maintext | safe }}
        </div> 
        <div class="post-title">
            {{ object.title }} 
        </div>
        <div class="preparation">
            <div class="intro1">
                {{ object.intro1 | safe }}    
            </div>
            <img src="../static/media/post{{post.id}}/intro/post_intro{{post.id}}.jpg" alt="">
            {{ object.legend | safe }}
        </div>    
        <div class="ingredients"> 
            <h3>Ingredients:</h3>
            {{ object.ingredients | safe }}
        </div>
        <div class="preparationtext"> 
            <h3>Preparation:</h3>
            {{ object.preparationtext | safe }}
        </div>
            {% block tips %}
                {% if object.tip %}
                    <div class="tip tip1"> 
                        {{ object.tip | safe }}
                    </div>
                {% endif %}
            {% endblock %}
    </div>
    <div class="post-footer">

    </div>

    </div> 


{% endblock post_content %}

{% block post_content_css %} {% include 'post_detail_css.html' %} {% endblock post_content_css %}

