{% load i18n %}

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/responsive_desktop_big.css" />
  <link rel="stylesheet" href="/static/css/responsive_desktop.css" />
  <link rel="stylesheet" href="/static/css/responsive_tablet.css" />
  <link rel="stylesheet" href="/static/css/responsive_phone.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Bite With Zest! - the ultimate Life Zest blog</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-6E5GG8S7XY"></script> -->
  <script async src="/static/js/ga.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6E5GG8S7XY');
  </script>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/static/img/BwZ_logo_W.png" alt="logo"></a>
    </div>
    <nav>
      <ul id="nav_ul">
        <li class=""><a href="/about/info/">Über uns</a></li>
        <li class=""><a href="/contact/info/">Kontakt</a></li>
        <li>
          <form class="form-inline" action="/i18n/setlang/" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="5zoVyvyABlcqSJvAqxBMoVFNcYckkEUMLMooBzxV9TqTD54cjSw5Ds4H7j8BSIri">
            <input name="next" type="hidden" value="">
            <select name="language" onchange="if(this.value != '0') this.form.submit()">
                
                
                
                   
                    <option class="option-style" value="en">
                        en
                    </option>
                   
                    <option class="option-style" value="de" selected>
                        de
                    </option>
                
            </select>  
            
            <a href="https://www.facebook.com/bitewithzest"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>  
            <a href="https://www.instagram.com/bitewithzest"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
          </form>
          
      </ul>
      
    </nav>
  </header>
  
  <nav class="navbar" id="navbar">
    <ul id="navbar_ul">
      <li class="active"><a href="/filter/shop/" >
                    Shop       
        </a></li>
      <li class=""><a href="/filter/recipes/" >
                    Rezepte     
        </a></li>
      <li class=""><a href="/filter/lexicon-of-plants/" >
                    Lexikon der Pflanzen        
        </a></li>
      <li class=""><a href="/filter/immunity-boosting/" >
                    Stärkung der Immunität     
        </a></li>
      <li class=""><a href="/filter/our-planet/" >
                    Unser Planet           
        </a></li>
      <li class=""><a href="/filter/lifestyle/" >
                    Lifestyle         
        </a></li>
      <li class=""><a href="/filter/faq/" >
                    FAQ           
        </a></li>
    </ul>
    <div class="menu-toggle" id="menu-toggle" onclick="toggleX(this)">
      <div class="bar1" id="bar1"></div>
      <div class="bar2" id="bar2"></div>
      <div class="bar3" id="bar3"></div>
    </div>
  </nav>
  <div class="wrapper">
    <!-- CONTENT -->
    <div id="my-store-83334683"></div>
    <div>
    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?83334683&data_platform=code&data_date=2022-12-18" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-83334683");</script>
    </div> 
    <!-- CONTENT -->

    <img class="before_footer" src="/../media/layout/footer_basil.png">
    <footer>
      <div class="footer_container">
        <div class="footer_upper_info">
          <div class="sec quicklinks">
            <h2>Quicklinks</h2>
            <ul>
              <li><a href="/about/info/">Über uns</a></li>
                <li><a href="/filter/faq/" >
                              FAQ            
                  </a></li>
              <li><a href="/cookies/info/">Cookie-Richtlinie</a></li>
              <!-- <li><a href="">Allgemeine Geschäftsbedingungen</a></li> -->
              <li><a href="/contact/info/">Kontakt</a></li>
            </ul>
          </div>
          <div class="sec footer_contact">
            <h2>Kontakt</h2>
            <ul class="footer_contact_info">
              <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span>Guntherstr. 9, <br> 1150 Wien, <br>  Österreich</span>
              </li>
              <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>
                +43 680 1446331</li>
              <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <a href="mailto:contact@bitewithzest.com">E-Mail</a></li>
            </ul>
          </div>
          <div class="sec footer_placeholder">

          </div>
        </div>
        <div class="sec aboutus">
          <br>
          <ul class="sci">
            
            <li><a href="https://www.facebook.com/bitewithzest"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/bitewithzest"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <!-- <li><a href="https://www.youtube.com/channel/UC_3UJNl8Y4AmdGPNtMjNVAg"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li> -->
          </ul>
          <div class="copyright_text">
            <p>Für die Erstellung dieser Website wurde kein Tier verletzt.<br />Copyright © 2021 BiteWithZest.<br />
              Alle Rechte vorbehalten. Die unbefugte Verwendung von urheberrechtlich geschützten Inhalten ist verboten und strafbar.</p>   
          </div>
        </div>
      </div>
    
    
    
  </footer>
  <div class="cookie-container">
    <p>Wir verwenden Cookies auf dieser Website für eine bessere Benutzerfreundlichkeit. Wenn Sie mehr erfahren möchten, lesen Sie bitte unsere <a href="/cookies/info/">Cookie-Richtlinie</a> mit detaillierten Informationen.</p>
    <button class="cookie-btn">Schließen</button>
  </div>
</div>

  <script src="/static/js/scrollr.js"></script>
  
  <script>
    const s = skrollr.init();
    const djangoView = "home";
    const category = '';
  </script>
  <script src="/static/js/bwz.js"></script>

  
</body>
</html>  
