{% extends "base.html" %} 
{% load shuffle %}
{% load index %}
{% load setvar %}
{% block post_showcase %}
<section class="hero-element1"> 
  <img class="bg1" src="/../media/layout/bg1_2.png" alt="" data-0="transform: scale(1);" data-600="transform: scale(1.5);">
  <img class="layer1-1 desktop" src="/../media/layout/layer1-1.png" alt="" >
  <img class="layer1-1 desktop" src="/../media/layout/1.png" alt="" data-200="top:-50px;" data-900="top:400px;">
  <img class="layer1-1 desktop" src="/../media/layout/2.png" alt="">
  <img class="layer1-1 desktop" src="/../media/layout/3.png" alt="" data-0="top:0px;" data-800="top:300px;">
  <img class="layer1-1 desktop" src="/../media/layout/4.png" alt="" data-0="top:150px;" data-600="top:300px;">
  <img class="layer1-1 mobile" src="/../media/layout/layerMob1-1.png" alt="" > 
  <div class="moto1"> 
    <h2>Plant-based</h2>
    <h1>Recipes</h1>
    <h1>Ideas</h1>
    <p>Healthy and delicious recipes, easy and quick to make. All about how to start & end your day nutritionally well and with a positive energy.</p>
    <button class="hero-btn"><a href="{% url 'category_view' post_cat1.slug  %}">discover more</a></button>
  </div>
  
</section>
<section class="hero-element2">
  <img class="bg2 desktop" src="/../media/layout/bg2.png" alt=""   >
  <img class="bg2 mobile" src="/../media/layout/bg2-2.png" alt=""   >
  <img class="layer2-1" src="/../media/layout/layer2-1.png" alt="" data-400="top: -50px; " data-700="top: 30px;">
  <div class="moto2"> 
    <h2>Lexicon</h2>
    <h1>of plants</h1>
    <p>Healthy and delicious recipes, easy and quick to make. All about how to start & end your day nutritionally well and with a positive energy.</p>
    <button class="hero2-btn"><a href="{% url 'category_view' post_cat1.slug  %}">discover more</a></button>
  </div>
</section>
<section class="hero-element3">
  <img class="bg3 desktop" src="/../media/layout/bg3.png" alt=""   >
  <img class="bg3 mobile" src="/../media/layout/bg3-1.png" alt=""   >
  <div class="moto3"> 
    <h2>Plant-based</h2>
    <h1>Lifestyle</h1>
  </div>
    <div class="layer1-1-1" >
      {% for post in post_cat5_list|shuffle|slice:"2" %}
      <a href="{% url 'post_detail' post.slug  %}">
        <div class="{% cycle 'hero3-card1' 'hero3-card2' %}">
            <div class="{% cycle 'hero3-card1-pic' 'hero3-card2-pic' %}">
              <img src="/../media/post{{post.id}}/opener/post_opener{{post.id}}.jpg" alt="">
            </div>
          <div class="{% cycle 'hero3-card1-text' 'hero3-card2-text' %}">
              <span>{{post.title}}</span>
              <p>{{ post.intro|safe|slice:"231" }}{% if post.intro|safe|length > 231 %}...{% endif %}</p>
          </div>
          <button class="{% cycle 'invisible' 'hero3-btn' %}"><a href="{% url 'category_view' post_cat5.slug  %}">discover more</a></button>
        </div>
      </a>
      {% endfor %}
    </div> 
</section>
<section class="hero-element4"> 
  
  <img class="layer1-1 desktop" src="/../media/layout/layer4-1.png" alt="" >
  <img class="layer4-1 mobile" src="/../media/layout/layerMob4-1.png" alt="" > 
  <img class="bg4" src="/../media/layout/bg4.jpg" alt="" data-2500="left: 110px"  data-3900="left:0px">
  <div class="moto4"> 
    <h2>Our</h2>
    <h1>Planet</h1>
    <p>Healthy and delicious recipes, easy and quick to make. All about how to start & end your day nutritionally well and with a positive energy.</p>
    <div class="hero4-btn">
        <button><a href="{% url 'category_view' post_cat1.slug  %}">discover more</a></button>
    </div>
  </div>
  
</section>
<section class="hero-element5">
  <img class="bg5 desktop" src="/../media/layout/bg5.png" alt=""   >
  <img class="bg5 mobile" src="/../media/layout/bgMob5.png" alt=""   >
  <div class="moto5"> 
    <h2>Immunity</h2>
    <h1>boosting</h1>
  </div>
  
  <div class="layer5-1-1" >
    {% for post in post_cat3_list|shuffle|slice:"3" %}
    <a href="{% url 'post_detail' post.slug  %}">
      <div class="{% cycle 'hero5-card1' 'hero5-card2' %}">
        <div class="{% cycle 'hero5-card1-pic' 'hero5-card2-pic' %}">
          <img src="/../media/post{{post.id}}/opener/post_opener{{post.id}}.jpg" alt="">  
        </div>
        <div class="{% cycle 'hero5-card1-text' 'hero5-card2-text' %}">
            <h3>{{post.title}}</h3>

            <p>{{ post.intro|safe|slice:"271" }}{% if post.intro|safe|length > 271 %}...{% endif %}</p>
        </div>
      </div>
    </a>
    {% endfor %}
    <div class="hero5-btn">
      <button><a href="{% url 'category_view' post_cat3.slug  %}">discover more</a></button> 
    </div>
  </div>
  
  
</section>

{% endblock  %}

 
