{% extends "base.html" %} 
{% load shuffle %}
{% load index %}
{% load setvar %}
{% block post_showcase %}
<section class="hero-element1"> 
      
  <img class="bg1" src="/../media/layout/bg1_2.png" alt="" data-0="opacity: 1; transform: scale(1);" data-600="opacity: 0.3; transform: scale(1.5);">
  
  <img class="layer1-1 desktop" src="/../media/layout/layer1-1.png" alt="" >
  <img class="layer1-1 mobile" src="/../media/layout/layerMob1-1.png" alt="" > 
  <div class="moto1"> 
    <h2>Plant-based</h2>
    <h1>Recipes</h1>
    <h1>Ideas</h1>
    <p>Healthy and delicious recipes, easy and quick to make. All about how to start & end your day nutritionally well and with a positive energy.</p>
  </div>
  <button class="hero-btn"><a href="{% url 'category_view' post_cat1.slug  %}">discover more</a></button>
  
</section>
<section class="hero-element2">
  <img class="bg2 desktop" src="/../media/layout/bg2.png" alt=""   >
  <img class="bg2 mobile" src="/../media/layout/bg2-2.png" alt=""   >
  <img class="layer2-1" src="/../media/layout/layer2-1.png" alt="" >
  <!-- data-100="top: 10px; " data-500="top: 200px;"     -->
</section>

{% endblock  %}

 
