@media (min-width: 48em) {
  .mobile{
    display: none !important;
  }

  button.active {
    background: var(--main_btn);
    position: relative;
    transition: 0.3s;
  }
  button.active:before {
    content: '';
    border-bottom: 2px solid var(--yellow);
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    transition: 0.3s;
  }
  
  
  
  blockquote{
    border-left: 5px solid var(--main_transparent);
    padding: 10px;
    font-style: italic;
  }
  blockquote>h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .paginator{
    font-size:21px;
    max-width: 20rem;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height:50px;
  }
  .paginator>a{
    color: var(--grey);
  } 
  a.prev a.next{
    color: var(--grey);
  }
  span.count_active{
    color: var(--main);
    font-weight: 400;
    text-decoration:overline;
  }
  a.count:hover, a.prev:hover, a.next:hover{
    color: var(--main);
  }
  
  .footer {
    display: grid;
    grid-template-areas: 
      'footer-info        footer-info        footer-info'
      'footer-info        footer-info        footer-info'
      '.                  footer-copyright   .          ';
    /* background-color: var(--main); */
    background: url('/../media/layout/footer_basil.png') no-repeat top right;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    width: 100%;
    z-index: 3;
    margin: 0 auto;
    position: sticky;
    height:420px;
    background-size: 100%;
  }
  
  .footer-copyright{
    grid-area: footer-copyright;
    margin: 0 auto;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white
  }
  
  /* Nav Section */
  
  
  .topnav-wrapper {
    
    max-width: 100%;
    background: url('/../media/layout/topnav.png') no-repeat top right;
    background-size: 100%; 
    height:100px;
    z-index: 1000;
    opacity: 0.9;
  }
  
  .topnav {
    overflow: hidden;
    margin: auto;
    width: 70%;
    display: flex;  
    justify-content: end;
    
  }
  
  .topnav a {
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 17px;
    /* text-transform: uppercase; */
    text-align: center;
    letter-spacing: 0.08em;
    margin: 0 10px 0 10px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .logo  {
    max-width: 110px;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    /* margin-top: 10px; */
  }
  
  
  
  
  .post-body{
    display: grid;
    margin: 100px auto;
    font-family: 'Raleway', serif;
    font-size: 18px;
    color: var(--black);
    padding: 0 4px ;
  }
  
  /* Post intro */
  .intro{
    display: grid;
    grid-template-areas: 
        "picture"
        "intro-text"; 
    margin: auto 0; 
    /* border-top: 5px solid var(--main);       */
  }
  
  .picture{
    grid-area: picture;
    text-align: center;
    color: var(--black);  
    grid-column: 1 / -1;    
  }
  
  
  .post-title-figure {
    display: none;
  }
  .picture img{
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  .intro-text{
    grid-area: intro-text;
    padding: 5px;
    color: var(--grey);
    
  }
  .post-date{
    bottom: 0;
    padding-left: 5px;
    font-style: italic;
    color: rgb(153, 153, 153);
    font-size: 15px;
  }
  
  /* Post content */
  .mobile-food-logo{
    margin: 20px auto;
    width: 50%;
    display: none;
  }
  
  .post-content {
    display: grid;
    margin: 30px auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2px 5px;
  }
  .post-content>* {
    grid-column: 2/span 1;
  }
  
  .post-title{
    display: grid;
    font-size: 35px;
    font-weight: normal;
    border-bottom: 5px solid var(--main);
    color: var(--main);
  }
  
  .maintext{
  margin-bottom: 10px;
  }
  
  .maintext div{
    clear: both;
  }
  
  .preparation{
  display: grid;
  grid-template-columns: 3fr auto;  
  margin-top: 10px;  
  }
  .preparation img{
  grid-column: 2/span 1;
  grid-row: 2/ span 5;
  width: 108px;
  height: 108px;
  object-fit: cover;
  }
  
  .preparation .intro1{
  grid-column: 1/ span 2;
  font-style: italic;
  margin: 0 10px 10px 0; 
  }
  
  .preparation .webicons1 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px; 
  background-image: url('/static/img/web_icons1.png' );
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  }
  .preparation .webicons2 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px; 
  background-image: url('/static/img/web_icons2.png' );
  background-size: contain;
  background-repeat: no-repeat;
  
  }
  
  .preparation .webicons3 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px;
  background-image: url('/static/img/web_icons3.png');
  background-size: contain;
  background-repeat: no-repeat;
  }
  
  .preparation .webicons4 {
    grid-column: 1/-2;
    height: 23px;
    padding-left: 27px;
    background-image: url('/static/img/web_icons4.png' );
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .preparation .webicons5 {
    grid-column: 1/-2;
    height: 23px;
    padding-left: 27px;
    background-image: url('/static/img/web_icons5.png' );
    background-size: contain;
    background-repeat: no-repeat;
  }
  .preparationtext>h3, .ingredients>h3{
    color: var(--main);
    margin-bottom: 10px;
  }
  .preparationtext{
    margin-top: -10px;
  }
  .preparationtext li, .ingredients li, .maintext li, .outro li{
    line-height: 1.5em;
     height: auto;
  }
  .ingredients>ul,.preparationtext>ul,.maintext>ul, .outro>ul{
    margin-top: 10px;
  }
  
  .breadcrumbs{
    padding: 10px;
  }
  
  .breadcrumbs-item{
    display: block;
  }
  
  .breadcrumbs-item:not(:last-of-type)::after{
    content: ' /';
    color: #999;
  }
  
  .breadcrumbs-link{
    text-decoration: none;
    color: var(--grey);
  }
  
  .breadcrumbs-link-active{
    font-weight: 500;
  }
  
  .breadcrumbs-link:hover{
    text-decoration: underline;
  }
  
  
  
  
  .gallery {
    display: grid;
    grid-template-areas: 
    "cat-header cat-header cat-header"
    "card       card       card";
    width: 70%;
    margin: auto auto 100px;
    grid-gap: 1rem;
  }
  .card {
    grid-area: card;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 24rem;
    margin: auto;
  }
  .card-img img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
  }
  .card-img-feat img {
    width: 100%;
    object-fit: cover;
  }
  .card-title-feat {
    margin: 0;
    min-height: 5rem;
  }
  .card-title-feat>h5 {
    color: var(--grey);
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 19px;
    margin: 0.5rem;
  }
  
  
  .card-title {
    margin: 0;
    min-height: 5rem;
  }
  .card-title>h4 {
    color: var(--grey);
    margin: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
    font-size: 21px;
  }
  
  .card_featured{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 15rem;
    height: 15rem; 
    margin: auto;
  }
  
  .cat-header-wrapper{
    width:70%;
    margin: 100px auto 20px auto;
  }
  .cat-header{
    grid-area: cat-header;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    position: relative;
    width:100%;
  }
  
  
  
  .cat-header-col1{
    width: 30%;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .cat-header-col2{
    width: 70%;
    position: relative;
    display: flex;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;  
  }
  
  .cat-header-col2::before{
    display: block;
    content: "";
    border-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color); 
  }
  
  
  .post-cat-title {
    color: var(--main);
    font-weight: 400;
    font-size: 26px;  
  }
  .post-cat-title>a{
    color: var(--main);
    
  }
  
  .post-cat-more {
    display: flex;
    width: auto; 
    position: relative; 
    color: var(--main); 
    margin: 0 10px;
    align-items: center;
    justify-content: center; 
  }
  .post-cat-more>a {
    width: auto; 
    color: var(--main); 
    font-size: 26px; 
    font-weight: 400;
  }
  .hero-grid1{
    display: grid;
    grid-template-columns:  2fr 4fr 4fr 2fr;
    margin-top: 0;
  
  }
  
  .hero-grid2{
    display: grid;
    grid-template-columns:  4fr 8fr;
    margin-top: -4px;
  }
  
  .hero-grid3 {
    display: grid;
    grid-template-columns:  2fr 4fr 4fr 2fr;
  }
  .hero-grid4 {
    display: grid;
    grid-template-columns:  2fr 4fr 4fr 2fr;
  }
  .hero-grid5 {
    display: grid;
    grid-template-columns:  2fr 8fr 2fr;
  }
  
  .hero-element1 {
    position: relative;
    display: grid;
  }
  .hero-element2 {
    position: relative;
    display: grid;
  }
  .hero-element3 {
    position: relative;
    display: grid;
  }
  .hero-element4 {
    position: relative;
    display: grid;
  }
  
  
  .layer1-1-1{
    position: relative;
    z-index: 0;
    top: 0;
  }
  
  .layer1-1-2{
    position: absolute;
    z-index: 200;
    top: 0;
  }
  
  .layer1-2-1{
    position: relative;
    z-index: 1;
    top: 0;
  }
  .layer4-1-1{
    position: relative;
    z-index: -2;
    top: 450px;
    transform: scale(1.3);
  }
  .layer5-1-1{
    position: relative;
    z-index: 0;
    top: 200px;
    display: flex;
    flex-direction:column;
  }

  .layer5-1-1>img.desktop{
    position: absolute;
  }
 
  
  
  
  .hero-btn{
    background-color: var(--main);
    color: white;
    border:none;
    font-size: 22px;
    margin-top: 40px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .layer1-3-1{
    position: relative;
    z-index: -1;
    top: 50px;
  }
  .layer1-3-2{
    position: absolute;
    z-index: 10;
    top: 0;
  }
  .layer1-3-3{
    position: absolute;
    z-index: 1;
    top: 0;
  }
  
  .layer1-4-2{
    position: absolute;
    z-index: 10;
    top: 0;
  }
  
  .layer1-4-3{
    position: absolute;
    z-index: 10;
    top: 440px;
  }
  
  
  
  .layer1-1{
    top: 0;
    left: 0;
    width: 15%;
    position: relative;
    z-index: 100;
  }
  .layer1-2{
    float: right;
    top:-150px;
    right:150px;
    width: 15%;
    position: relative;
    z-index: 100;
  }
  .layer1-3{
    float: right;
    top:-150px;
    right:150px;
    width: 15%;
    position: relative;
    z-index: 100;
  }
  
  
  .moto1{
    font-size: 27px;
    font-weight: 500;
    color: var(--black);
    margin-top: 35px ;
    position: absolute;
    top: 100px;
    left: 0;
    max-width: 500px;
    letter-spacing: 0.02em;
  
  }
  
  .moto1 h1{
    font-family: "Richie Brusher";
    margin: 0 0 -20px ;
  }
  .moto1 h2{
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .moto1 p{
    font-size: 21px;
    margin-top  :30px;
    font-weight: 300;
  
  }
  
  
  .moto2{
    font-size: 27px;
    font-weight: 400;
    color: var(--black);
    margin-top: 35px ;
    position: absolute;
    top: 100px;
    left: 0;
    max-width: 500px;
    letter-spacing: 0.03em;
  }
  .moto2 h2{
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .moto2 h1{
    font-family: "Richie Brusher";
    margin: -20px  30px 10px ;
  }
  .moto2 p{
    font-size: 21px;
    margin-top  :30px;
    font-weight: 300;
  }
  
  .moto3{
    font-size: 27px;
    font-weight: 400;
    color: var(--black);
    position: absolute;
    top: 110px;
    left: 0;
    max-width: 500px;
  }
  .moto3 h2{
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .moto3 h1{
    font-family: "Richie Brusher";
    margin: -23px  30px 10px ;
  }
  .moto3 p{
    font-size: 21px;
    margin-top  :30px;
    font-weight: 600;
  }
  .moto4{
    font-size: 27px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 180px;
    left: 0;
    max-width: 500px;
    letter-spacing: 0.03em;
    z-index: 1;
  }
  .moto4 h1{
    font-family: "Richie Brusher";
    margin: -23px  30px 10px;
    color: white;
  }
  .moto4 h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .moto4 p{
    font-size: 21px;
    margin-top  :30px;
    font-weight: 300;
    color: white;
    letter-spacing: 0.03em;
  }
  .moto5{
    font-size: 27px;
    font-weight: 400;
    color: var(--black);
    position: absolute;
    top: 110px;
    left: 0;
    max-width: 500px;
  }
  .moto5 h2{
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .moto5 h1{
    font-family: "Richie Brusher";
    margin: -23px  30px 10px ;
  }
  
  .hero3-card1{
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
  }
  .hero3-card2{
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 0 23% ;
  }
  .hero3-card1-pic{
    border: 3px solid var(--main);
    padding: 20px;
    border-radius: 30% 0;
    width: 400px;
    height: 400px;
    box-sizing: unset;
  }
  .hero3-card2-pic{
    border: 3px solid var(--main);
    padding: 20px;
    border-radius: 0 30% ;
    width: 400px;
    height: 400px;
    box-sizing: unset;
  }
  
  .hero3-card1-pic img {
    border-radius: 30% 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
  
  }
  .hero3-card2-pic img {
    border-radius: 0 30% ;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  
  .hero3-card1-text, .hero3-card2-text{
    margin-top: 30px;
  }
  
  .hero3-card1-text span, .hero3-card2-text span{
    font-size: 26px;
    font-weight: 400;
  }
  .hero3-card1-text p, .hero3-card2-text p{
    font-size: 21px;
    margin-top: 20px;
  }
  
  .hero5-card1{
    /*transform: translate(-50%, 0); */
    display: flex;
    max-width: 80rem;
    align-items: center; 
    height: 350px;
    z-index: 1;
  }



  .hero5-card2{
    position: absolute;
    top: 680px; 
    /* left: 50%;
    transform: translate(-50%, 0); */
    display: flex;
  }

  .hero5-card3{
    position: absolute;
    top: 1030px; 
    /* left: 50%;
    transform: translate(-50%, 0); */
    display: flex;
  }
  .hero5-card1-pic{
    border: 3px solid var(--main);
    padding: 15px;
    border-radius: 30% 0;
    width: 300px;
    min-width: 300px;
    height: 300px;
    margin-right: 30px;
    position: relative;
    box-sizing: unset;
  }

  .hero5-card1-pic{
    border: 3px solid var(--main);
    padding: 15px;
    border-radius: 30% 0;
    width: 300px;
    min-width: 300px;
    height: 300px;
    margin-right: 30px;
    position: relative;
    box-sizing: unset;
  }
  
  .hero5-card1-pic img {
    border-radius: 30% 0;
    width: 300px;
    min-width: 300px;
    height: 300px;
    object-fit: cover;
  }


  .hero5-card2-pic img {
    border-radius: 0 30% ;
    width: 300px;
    min-width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .hero5-card2-text{
    text-align: right;
  }
  .hero5-card1-text, .hero5-card2-text{
    z-index: 1;
  }
  .hero5-card1-text span, .hero5-card2-text span{
    font-size: 26px;
    font-weight: 400;
  }
  .hero5-card1-text p, .hero5-card2-text p{
    font-size: 24px;
    margin-top: 20px;
  }
  
  .hero3-btn{
    color: var(--main)    ;
    border: 3px solid var(--main);
    font-size: 22px;
    margin-top: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    float: right;
    background-color: white;
    width: 200px;
  }
  .hero4-btn{
    background-color: white;
    color: var(--main);
    border:none;
    font-size: 22px;
    margin-top: 40px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .hero5-btn{
    display:flex;
    justify-content: flex-end;
    margin-top: 240px;
    z-index: 1;
  }
  
  .hero5-btn button{
    color: var(--main)    ;
    border: 3px solid var(--main);
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
  }
  .accordion-wrapper{
    position: relative;
    /* width: 70%; */
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height:100vh;  
  }
  .accordion {
    background-color: white;
    color: var(--black);
    cursor: pointer;
    width: 70%;
    border: solid 1px #eee;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
    border-radius: 0 25px 0 25px;
    box-shadow: 10px 5px 5px 2px rgba(0, 0, 0, 0.1); 
    float:left;
    margin: 10px auto;

  }

  .accordion>div, .panel>div{
    padding-top: 20px;
    margin-left: 10px;
    letter-spacing: .05em;
    font-weight: bold;
    color: var(--black);
  }

  .panel {
    color: var(--black);
    cursor: pointer;
    width: 70%;
    border: solid 1px #eee;
    text-align: left;
    font-size: 19px;
    transition: 0.4s;
    border-radius: 0 25px 0 25px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1 ); 
    display: none;
    background-color: white;
    margin: 10px auto;
    flex-wrap: wrap;
  }
  
  .panel>p{
    margin: 0 20px 20px;
    float: left;
    color: var(--black);
  }
  .panel>img{
    margin: 0 20px 20px;
    width:50%;
    position:relative;
    right:0;
    bottom:0;
    /* transform: translateX(28rem); */
  }
  
  
  
  .panel:hover, .accordion:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .panel.active_panel:before {
    content: "-";
    color: var(--main);
    font-weight: bold;
    float: left;
    margin-left: 5px;
    font-family: Kalam;
    font-size:44px;
    padding-left: 18px;
  }
  
  button.accordion:before {
      content: '+';
      color: var(--main);
      font-weight: bold;
      float: left;
      margin-left: 14px;
      margin-right: 14px;
      font-family: Kalam;
      font-size:38px;
  }


  .gallery {
    display: grid;
    grid-template-areas: 
    "cat-header cat-header"
    "card       card      ";
    width: 70%;
    margin: auto auto 100px;
    grid-gap: 1rem;
  }
  .card {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 17rem;
    margin: auto;
  }
  .card-img img {
    width: 17rem;
    height: 29rem;
    object-fit: cover;
  }

  
  .cat-header{
    grid-area: cat-header;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width:100%;
  }
  .cat-header-col1{
    width: 30%;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .cat-header-col2{
    width: 70%;
    position: relative;
    display: flex;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;  
  }

  .cat-header-col2::before{
    display: block;
    content: "";
    border-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color); 
  }
  

  .post-cat-title {
    color: var(--main);
    font-weight: 400;
    font-size: 26px;  
  }
  .post-cat-title>a{
    color: var(--main);
    
  }
  .post-cat-more {
    display: flex;
    width: auto; 
    position: relative; 
    color: var(--main); 
    margin: 0 10px;
    align-items: center;
    justify-content: center; 
  }
  .post-cat-more>a {
    width: auto; 
    color: var(--main); 
    font-size: 21px; 
    font-weight: 400;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .topnav button:hover {
    border-bottom: 2px solid var(--main);
  }
  
  
  .dropdown-content a:hover,.dropdown-content a:active  {
    background-color: #ddd;
    border-bottom: none;
  }
  
  .dropdown:hover .dropdown-content , .dropdown:active {
    display: block;
  }
  
  .responsive_logo a img{
    max-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 40px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: smoothScroll 1s forwards;
    padding-top: 20px;
  }
  
  
 
  .header-wrapper {
    /* background-color: var(--main); */
    max-width: 100%;
    opacity: 0.9; 
    background: url('/../media/layout/header.png') no-repeat top right;
    /* background-size: 100%;  */
  }
  .header {
    text-align: center;
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .header-nav{
    display: block;	
    color: white;
    text-align: right;
  }
  .header-nav a{
    color: white;
    font-size: 17px;
    letter-spacing: .05em;
    padding-right: 15px;
  }
  .header-nav>ul{
    list-style-type: none;
    line-height: 30px;
  }

  .nav{
    display: flex;
    justify-content: right; 
    text-align: center;
    margin: auto;
    width: 70%;
    background-size: 100%; 
    height:auto;
    /* z-index: 1000; */
    opacity: 0.9;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
    color: white;
    font-size: 17px;
    letter-spacing: .05em;
    
  }
  ul.nav-links{
    list-style-type: none;
    
  }
  ul.nav-links a{
    float: right;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 500;
  }
  .burger{
    display: none;
  }

  .dropdown-content a {
    float: none;
    color: var(--grey);
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
  } 

  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    color: var(--grey);
    /* padding-left: 21px; */
    background-color: inherit;
    line-height: 30px;
    /* text-transform: uppercase; */
    letter-spacing: 0.08em;
    text-align: center;
  }

  /* Gallery Categories*/
  .gallery-cat{
    display: block; 
    margin: 100px auto ;
    width: 56%;
    height: 100vmax;
    padding-top: 10px;
  }
  .gallery-cat-home{
    display: block; 
    margin: auto auto 100px;
    width: 56%;
  }

  .post-cat-card{
    max-width: 80rem;
    max-height: 14rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2);  
    display: flex;
    align-items: center; 
    height: 14rem;
  } 

  .post-cat-card__img{
    min-width: 12rem;
    max-width: 14rem;
    height: 12rem;
    width: 12rem;
    transform: translateX(1rem); 
    position: relative;

  }

  .post-cat-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .post-cat-card__info{
    padding-left: 2rem;
  }

  .gallery>.post-cat-more, .gallery-cat-home>.post-cat-more {
    display: none;
  }

  .gallery-cat .card-title,.gallery-cat-home .card-title {
    display: none;  
  }
  .header-nav a,.gallery a,.gallery-cat a, .gallery-cat-home a, .post-cat-more a{
    text-decoration: none;
  }
  .maintext a{
    text-decoration-color: var(--main);
  } 

  .post-cat-card:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2);  
  }

  .link-post-card{
    max-width: 80rem;
    max-height: 14rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2); 
    display: flex;
    align-items: center; 
  } 
  .link-post-card__img{
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    position: relative;
  
  }
  .link-post-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .link-post-card__info{
    color: var(--black);
    padding: 10px;
  }


  .tip{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2);
    padding: 1rem;
    font-style: italic;
    margin-bottom: 2rem;
  }
  .outro{
    margin-bottom: 2rem;
  }
  .add_pic{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2);
    margin-bottom: 2rem;
  }
  .add_pic>article{
    padding: 10px;
    font-size: 14px;
  }


  /* Blog post */
  .post-body{
      display: grid;
      max-width: 70%;
      margin: 100px auto;
      column-gap: 10px 25px;
      font-family: 'Raleway', serif;
      font-size: 18px;
      color: var(--black);
  }
  .post-title-figure {
      top: -250px;
      left: 630px; 
      display:flex; 
      margin: 20px; 
      padding-left: 27px;
      font-size:23px;
      background-color:rgba(255, 255, 255, 0.8);
      width: 500px;
      color: var(--main);
      text-align: left; 
      position:relative;
      /* transform: translateX(38rem); */

  }
  .post-title-figure > h1 {
    font-weight: 400;
    line-height: 60px ;    
  }
  
  .picture_bg{
    /* position: absolute; */
    background: url("/../media/layout/faq_bg.png") no-repeat top left;
    background-size: 90%;
    height:100%;
    /* margin-bottom: 100px; */
  }
  .picture_front{
    margin: 20px 20px;
  }
  .picture_front>img{
    border-radius: 0 85px 0 85px;
    max-width: 70%; 
  }
  .intro{
      display: grid;
      grid-template-areas: 
          "picture picture picture intro-empty"
          "picture picture picture intro-empty"
          "picture picture picture intro-empty"
          "picture picture picture intro-text" 
          "picture picture picture post-date";

      /* border-top: 5px solid var(--main);     */
  }
  .intro-text{
      grid-area: intro-text;
      padding: 20px;
      max-width: 350px;
  }

  .intro-empty{
      grid-area: intro-empty;
      max-width: 350px;
  }

  .post-date{
      grid-area: post-date;
      bottom: 0;
      padding-left: 20px;
      font-style: italic;
      color: rgb(153, 153, 153);
  }
  .picture{
      grid-area: picture;
      position: relative;
      text-align: center;
      color: var(--black);
      width: 100%;   
  }
  .picture img{
      width: 1140px;
      height: 600px;
      object-fit: cover;
  }

  .post-content {
    display: grid;
    max-width: 90%;
    margin: 100px auto;
    grid-template-columns: 2fr 10fr 2fr;
    grid-gap: 10px 30px;
  }
  .post-content>* {
      grid-column: 2/span 1;
  }
  .mobile-food-logo{
    display: none;
  }
  .post-title{
      display: grid;
      font-size: 35px;
      font-weight: 200;
      border-bottom: 5px solid var(--main);
      color: var(--main);
  }
  
  .preparation{
      display: grid;
      grid-template-columns: 3fr auto;  
      /* margin-top: 10px;   */
  }
  .preparation img{
      grid-column: 2/span 1;
      grid-row: 1/ span 6;
      width: 15rem;
      height: 15rem;
      object-fit: cover;
  }
  
  .preparation .intro1{
    grid-column: 1/ span 1;
    font-style: italic;
    margin: 0 10px 10px 0; 
  }
  .preparation>ol{
    margin:  0 -40px;
  }
  .preparation>ol li{
    list-style-type: none;
  }
  .preparation .webicons1 {
      grid-column: 1/-2;
      height: 23px;
      padding-left: 27px; 
      background-image: url('/static/img/web_icons1.png' );
      background-size: contain;
      background-repeat: no-repeat;
  }
  .preparation .webicons2 {
      grid-column: 1/-2;
      height: 23px;
      padding-left: 27px; 
      background-image: url('/static/img/web_icons2.png' );
      background-size: contain;
      background-repeat: no-repeat;
  
  }
  
  .preparation .webicons3 {
      grid-column: 1/-2;
      height: 23px;
      padding-left: 27px;
      background-image: url('/static/img/web_icons3.png');
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  .preparation .webicons4 {
      grid-column: 1/-2;
      height: 23px;
      padding-left: 27px;
      background-image: url('/static/img/web_icons4.png' );
      background-size: contain;
      background-repeat: no-repeat;
  }

  .preparation .webicons5 {
    grid-column: 1/-2;
    height: 23px;
      padding-left: 27px;
    background-image: url('/static/img/web_icons5.png' );
    background-size: contain;
    background-repeat: no-repeat;
  }

  .preparationtext>h3, .ingredients>h3{
    color: var(--main);
    font-weight: 600;
  }
  .preparationtext li, .ingredients li, .maintext li, .outro li{
    line-height: 1.5em;
     height: auto;
  }

  .breadcrumbs{
    padding: 10px;
  }

  .breadcrumbs-item{
    display: inline-block;
  }

  .breadcrumbs-item:not(:last-of-type)::after{
    content: ' /';
    color: #999;
  }

  .breadcrumbs-link{
    text-decoration: none;
    color: var(--grey);
  }

  .breadcrumbs-link-active{
    font-weight: 500;
  }

  .breadcrumbs-link:hover{
    text-decoration: underline;
  }
  .responsive_logo{
    display: none;
  }
  .asc {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .openclose{
    display: none;
  }



  

}




  