@media screen and (min-width: 1600px) {
  .post-opener img{
    margin: 3%;
    border-radius: 0 180px;
    /* border: solid 1px var(--grey); */
    width: 50vw;
    height: 35vw;
    object-fit: cover;
  }
} 
