@media screen and (max-width: 1600px) {
  .post-opener img{
    margin: 3%;
    border-radius: 0 180px;
    /* border: solid 1px var(--grey); */
    width: 40vw;
    height: 25vw;
    object-fit: cover;
  }
} 
