/* Responsive layout - when the screen is less than 48em wide, make the two columns stack on top of each other instead of next to each other */
/* 48em = 768px */
@media screen and (max-width: 48em) {
  .desktop{
    display: none;
  }
  
  header{
    position: absolute;
    top: -1px;
    left: 0;
    background: url('/../media/layout/header.png') no-repeat top left;
    width: 100%;
  }
  header .logo {
    float: left;
  }
  header .logo img{
    height: 100px;
  }
  header nav{
    float: right;
  }
  header nav ul{ 
    margin:   10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  header nav ul li{ 
    list-style: none;
  }
  header nav ul li a{ 
    height:50px; 
    line-height: 30px;
    font-size: 18px;
    color: white;
    padding: 0 20px;
    text-decoration: none;
  }
  .navbar{
    position: absolute;
    top: 100px;
    right: 0;
    padding: 0 3%;
    background: url('/../media/layout/topnavMob.png') no-repeat top;
    background-size: auto;
    width: 100%;
    background-size: 100%;
    height: 100%;
    z-index: 1;
    
  }
  .navbar ul{
    float:left;
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: white;
    opacity: 0.95;
    height: 100vh ;
    top: 0; 
    position: fixed;
    margin-top: auto;
    width: 100%;
    padding-left: 0;
    margin-left: 30px;
    line-height: 70px;  
    border-left: 3px solid var(--main);
    
  }
  .navbar ul li{ 
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /* border-left: 3px solid var(--main); */
  }

  .navbar ul li:first-child {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .navbar ul li a{ 
    font-size: 21px;
    color: var(--black);
    padding: 0 20px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
  }
  .sticky {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .menu-toggle{
    float: right;
    position: relative;
    top: 10px;
    padding: 0 3%;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change{
    position: fixed;
    right:3%;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px) scaleX(1.3);
    transform: rotate(-45deg) translate(-5px, 6px) scaleX(1.3);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px) scaleX(1.3);
    transform: rotate(45deg) translate(-5px, -6px) scaleX(1.3);
  }

  footer {
    background: url('/../media/layout/header.png') ;
    padding: 3%;
    background-size:cover;
  }
  footer .footer_container{
    flex-direction: column;
  }
  .before_footer{
    margin-bottom: -30px;
    z-index: 0;
    width: 100%;

  }

  footer .footer_container .sec.aboutus{
    width: 100%;
    
    /* margin-top:200px;x */
  }
  footer .footer_container h2{
    position: relative;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
  }
  footer .footer_container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color:var(--yellow);
  }
  footer  p{
    color: var(--light_grey);
  }
  .sci{
    display: flex;
    left: 0;
  }
  .sci li{
    list-style: none;
    z-index: 1;
  }
  .sci li a{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 10px;
    background: var(--main_btn);
    text-decoration: none;
    border-radius: 4px;
    font-size: 28px;
  }
  .sci li a:hover{
    background: var(--main);
  }

  .quicklinks{
    position: relative;
    width: 100%;
    margin-right: 0 !important ;
    z-index: 1;
  }
  .quicklinks ul li{
    list-style: none;   
  }
  .quicklinks ul li a{
    color: var(--light_grey);
    text-decoration: none;
    display: inline-block;
    list-style: none; 
    z-index: 1;
  }
  .quicklinks ul li a:hover{
    color: white;  
  }

  .footer_contact{
    position: relative;
    margin-right: 0 !important ;
    width: 100%;
    z-index: 1;
  }
  .footer_contact .footer_contact_info{
    position: relative;
  }
  .footer_contact .footer_contact_info li{
    display: flex;
    flex-direction: row;
    color: var(--light_grey);
  }
  .footer_contact .footer_contact_info li span:nth-child(1){
    font-size: 18px;
    margin-right: 15px;
  }
  .footer_contact .footer_contact_info li a{
    list-style: none;
    text-decoration: none;
    color: var(--light_grey);
    /* z-index: 1; */
  }
  .footer_contact .footer_contact_info li a:hover{
    color: white;
  }

  .footer_placeholder{
    position: relative;
    width: 35%;
  }
  .copyright_text{
    text-align: center;
    width: 100%;
  }

  .hero-element1 {
    /* position: relative; */
    width: 100%;
    margin-top: 200px;
    overflow: hidden;
    height:100%;
  }
  .hero-element2 {
    /* position: relative; */
    width: 100%;
    /* margin-top: 200px; */
    overflow: hidden;
    height:100%;
  }
  .hero-element3 {
    position: absolute;
  }
  .hero-element4 {
    position: relative;
  }
  .hero-element5 {
    position: relative;
  }

  .layer_relative{
    position: relative;
  }
  .layer_absolute{
    position: absolute;
  }


  .bg1{
    width: 100%;
    margin-left: -3%;
    z-index: -1;
    position: relative;
    overflow: hidden;
  }
  .layer1-1{
    left: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
  }



  .bg2{
    left: 0;
    width: 100%;  
    z-index: 0;
    position: relative;
    margin-top:8%;
  }
  .layer2-1{
    left: 0;
    width: 55%;
    z-index: 1;
    position: absolute;
    margin-top:15%;
  }




  .moto1{
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    top: 180px;
    position: absolute;
    left: 0;
    max-width: 500px;
    letter-spacing: 0.02em;
    z-index: 1;
    margin: 5% 50% 0 8%;
    display: flex;
    flex-direction: column;
  
  }
  
  .moto1 h1{
    font-family: var(--font-cool);
    margin: 0 0 -15px ;
    color: var(--main);
    font-size:30px;
  }
  .moto1 h2{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .moto1 p{
    font-size: 17px;
    margin-top  :30px;
    font-weight: 300;
  
  }

  .hero-btn{
    background-color: var(--main);
    border:none;
    font-size: 17px;
    margin-top: 220px;
    padding: 5px 10px;
    border-radius: 8px; 
    position: absolute;
    left: 55%;
    z-index: 1;
  }
  .hero-btn a{
    color: white; 
  }
  



}




