@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200&display=swap');
:root {
    --yellow: #ffc600;
    --black: rgb(45, 73, 95);
    --grey: #777777;
    --main: rgb(0, 170, 179);
    --main_transparent: rgba(0, 170, 179, 0.4);
    --divider-border-style: solid;
    --divider-color: var( --main );
    --divider-border-width: 3px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}   
body{
    /* background-image: linear-gradient(110deg,#f93d66,#6d47d9); */
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 300;
}
button{
  font-family: Raleway, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0,0,5px,0;
}

.item{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0,0,0,0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow);
}

p{
    margin: 0; 
    line-height: 29px; 
}

/* About Section */
.content{
    display: grid;
}

.moto{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0 7rem 0; 
  font-size: 35px; 
  font-weight: 400;
  color: var(--black);
  flex-wrap: wrap;
  margin: 0;
}
.moto>strong{
  color: var(--main);
  margin-left: 5px;
}

.about {
  display: grid;
  grid-template-areas: 
                       "ornament1 topleft   .         .         .         .         .         .           ornament2"
                       "ornament1 abouttext abouttext abouttext abouttext abouttext abouttext abouttext   ornament2"
                       "ornament1 .         .         .         .         .         .         bottomright ornament2"; 
  background: #ffffff;
  max-width: 60%;
  margin: 30px auto 30px auto; 
}


.about h2  {
  font-size: 44px;
  font-weight: 400;
  color: var(--black);    
}

.about p  {
  font-size: 21px;
  color: var(--grey);    
}

.about hr {
    display: none;
}
.abouttext{
  grid-area: abouttext;
  /* border-top: 2px solid  var(--main);
  border-bottom: 2px solid  var(--main); */
 
}
.topleft{
  grid-area: topleft;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.topleft>img{
  height:5px;
}
.bottomright{
  grid-area: bottomright;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.bottomright>img{
  height:5px;
}

.ornament1{
  grid-area: ornament1;

}
.ornament2{
  grid-area: ornament2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
} 

.ornament1 .ornament2 img{
  width: auto;
  max-width: 100%;
}





.post-body{
    display: grid;
    margin: 100px auto;
    font-family: 'Raleway', serif;
    font-size: 18px;
    color: var(--black);
    padding: 0 4px ;
}

/* Post intro */
.intro{
    display: grid;
    grid-template-areas: 
        "picture"
        "intro-text"; 
    margin: auto 0; 
    border-top: 5px solid var(--main);      
}

.picture{
    grid-area: picture;
    text-align: center;
    color: var(--black);  
    grid-column: 1 / -1;    
}


.post-title-figure {
    display: none;
}
.picture img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.intro-text{
    grid-area: intro-text;
    padding: 5px;
    color: var(--grey);
    
}
.post-date{
    bottom: 0;
    padding-left: 5px;
    font-style: italic;
    color: rgb(153, 153, 153);
    font-size: 15px;
}

/* Post content */
.mobile-food-logo{
    margin: 20px auto;
    width: 50%;
    display: none;
}

.post-content {
    display: grid;
    margin: 30px auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2px 5px;
}
.post-content>* {
    grid-column: 2/span 1;
}

.post-title{
    display: grid;
    font-size: 35px;
    font-weight: normal;
    border-bottom: 5px solid var(--main);
    color: var(--main);
}

.maintext{
  margin-bottom: 10px;
}

.preparation{
  display: grid;
  grid-template-columns: 3fr auto;  
  margin-top: 10px;  
}
.preparation img{
  grid-column: 2/span 1;
  grid-row: 2/ span 5;
  width: 108px;
  height: 108px;
  object-fit: cover;
}

.preparation .intro1{
  grid-column: 1/ span 2;
  font-style: italic;
  margin: 0 10px 10px 0; 
}

.preparation .webicons1 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px; 
  background-image: url('/static/img/web_icons1.png' );
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
}
.preparation .webicons2 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px; 
  background-image: url('/static/img/web_icons2.png' );
  background-size: contain;
  background-repeat: no-repeat;

}

.preparation .webicons3 {
  grid-column: 1/-2;
  height: 23px;
  padding-left: 27px;
  background-image: url('/static/img/web_icons3.png');
  background-size: contain;
  background-repeat: no-repeat;
}

  .preparation .webicons4 {
    grid-column: 1/-2;
    height: 23px;
    padding-left: 27px;
    background-image: url('/static/img/web_icons4.png' );
    background-size: contain;
    background-repeat: no-repeat;
  }

  .preparation .webicons5 {
    grid-column: 1/-2;
    height: 23px;
    padding-left: 27px;
    background-image: url('/static/img/web_icons5.png' );
    background-size: contain;
    background-repeat: no-repeat;
  }
  .preparationtext>h3, .ingredients>h3{
    color: var(--main);
    margin-bottom: 10px;
  }
  .preparationtext{
    margin-top: -10px;
  }
  .ingredients>ul{
    margin-top: 10px;
  }

  .breadcrumbs{
    padding: 10px;
  }

  .breadcrumbs-item{
    display: block;
  }

  .breadcrumbs-item:not(:last-of-type)::after{
    content: ' /';
    color: #999;
  }

  .breadcrumbs-link{
    text-decoration: none;
    color: var(--grey);
  }

  .breadcrumbs-link-active{
    font-weight: 500;
  }

  .breadcrumbs-link:hover{
    text-decoration: underline;
  }




  .gallery {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-template-areas: 
    "cat-header cat-header cat-header"
    "card       card       card";
    width: 70%;
    margin: auto auto 100px;
    grid-gap: 1rem;
  }
  .card {
    grid-area: card;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 24rem;
    margin: auto;
  }
  .card-img img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
  }
  .card-title {
    margin: 0;
    min-height: 5rem;
  }
  .card-title>h4 {
    color: var(--grey);
    margin: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
    font-size: 21px;
  }

.card_featured{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 15rem;
    height: 15rem; 
    margin: auto;
  }

  .cat-header-wrapper{
    width:70%;
    margin: 10px auto 20px auto;
  }
  .cat-header{
    grid-area: cat-header;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    position: relative;
    width:100%;
  }



  .cat-header-col1{
    width: 30%;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .cat-header-col2{
    width: 70%;
    position: relative;
    display: flex;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;  
  }

  .cat-header-col2::before{
    display: block;
    content: "";
    border-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color); 
  }
  

  .post-cat-title {
    color: var(--main);
    font-weight: 400;
    font-size: 26px;  
  }
  .post-cat-title>a{
    color: var(--main);
    
  }

  .post-cat-more {
    display: flex;
    width: auto; 
    position: relative; 
    color: var(--main); 
    margin: 0 10px;
    align-items: center;
    justify-content: center; 
  }
  .post-cat-more>a {
    width: auto; 
    color: var(--main); 
    font-size: 26px; 
    font-weight: 400;
  }

  @media (max-width: 1440px) {
    .gallery {
      display: grid;
      grid-template-areas: 
      "cat-header cat-header"
      "card       card      ";
      width: 70%;
      margin: auto auto 100px;
      grid-gap: 1rem;
    }
    .card {
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 17rem;
      margin: auto;
    }
    .card-img img {
      width: 17rem;
      height: 29rem;
      object-fit: cover;
    }

    
    .cat-header{
      grid-area: cat-header;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      width:100%;
    }
    .cat-header-col1{
      width: 30%;
      position: relative;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .cat-header-col2{
      width: 70%;
      position: relative;
      display: flex;
      text-align: left;
      padding-top: 12px;
      padding-bottom: 12px;
      align-content: flex-end;
      align-items: center;
      justify-content: flex-end;  
    }
  
    .cat-header-col2::before{
      display: block;
      content: "";
      border-bottom: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color); 
    }
    
  
    .post-cat-title {
      color: var(--main);
      font-weight: 400;
      font-size: 26px;  
    }
    .post-cat-title>a{
      color: var(--main);
      
    }
    .post-cat-more {
      display: flex;
      width: auto; 
      position: relative; 
      color: var(--main); 
      margin: 0 10px;
      align-items: center;
      justify-content: center; 
    }
    .post-cat-more>a {
      width: auto; 
      color: var(--main); 
      font-size: 21px; 
      font-weight: 400;
      text-decoration: none;
    }
  }

  





  
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .responsive_logo{
      display: none;
    }
    .asc {
      display: none;
    }
  }
  


