@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


@font-face {
  font-family: "Richie Brusher";
  src: url("/static/fonts/Richie Brusher.woff") format('woff');
}
:root {
    --yellow: #ffc600;
    --black: rgb(45, 73, 95);
    --light_grey: #dbdddd;
    --grey: #777777;
    --main: rgb(0, 170, 179);
    --main_transparent: rgba(0, 170, 179, 0.8);
    --main_btn: rgba(110, 201, 211, 0.815);
    --red:red;
    --green: rgb(143,198,64);


    --divider-border-style: solid;
    --divider-color: var( --main_transparent);
    --divider-border-width: 3px;

    --font-cool: "Richie Brusher" !important;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .post-title {
    background-color: rgba(255, 255, 255, 0.2 );
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}
*{
  box-sizing: border-box;
}
ul, li{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Exo 2";
}
.wrapper{
  max-width: 100%;
  margin: 0 auto ;
  overflow: hidden;
  display: flex;
  min-height:100vh;
  justify-content:flex-end;
  /* align-items: center; */
  flex-direction: column;
}

section {
  margin: 0;
  padding: 0;
}

button a{
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.invisible{
  display: none;
}











