@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --yellow: #ffc600;
    --black: rgb(45, 73, 95);
    --grey: #777777;
    --red: #f33233;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}   
body{
    /* background-image: linear-gradient(110deg,#f93d66,#6d47d9); */
    font-family: Rubik, sans-serif;
    font-weight: lighter;
    margin: 0;
    letter-spacing: -1px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0,0,5px,0;
}

.item{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0,0,0,0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow);
}

.item p{
    margin: 0,0, 5px,0;
}

/* About Section */
.content{
    display: grid;
}

.about {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    background: #ffffff;
    padding-top: 120px;
    padding-bottom: 0;
    text-align: center;
    justify-items: center;
    margin: auto 0; 
    
  }

.about>*{
    grid-column: 1/span 1;
}

.about h2  {
    font-size: 30px;
    font-weight: 400;
    color: var(--black); 
    text-align: center;   
    word-wrap:break-word;
}

.about p  {
    font-size: 20px;
    color: var(--grey);  
    text-align: center;  
    word-wrap: break-word;
}

.about hr {
    position: relative;
    display: inline-block;
    height: 1px;
    background: #eeeeee;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
}

.about hr::after {
    position: relative;
    top: -15px;
    content: "";
    display: inline-block;
    width: 70px;
    height: 2px;
    background: var(--red);
    
}

.post-body{
    display: grid;
    margin: 100px auto;
    font-family: 'Rubik', serif;
    font-size: 18px;
    color: var(--black);
    border-top: 7px solid var(--red);
    padding: 0 4px ;
}

/* Post intro */
.intro{
    display: grid;
    grid-template-areas: 
        "picture"
        "intro-text"; 
    margin: auto 0;     
}

.picture{
    grid-area: picture;
    text-align: center;
    color: var(--black);  
    grid-column: 1 / -1;    
}


.post-title-figure {
    display: none;
}
.picture img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.intro-text{
    grid-area: intro-text;
    padding: 5px;
    color: var(--grey);
    
}
.post-date{
    bottom: 0;
    padding-left: 5px;
    font-style: italic;
    color: rgb(153, 153, 153);
    font-size: 15px;
}

/* Post content */
.mobile-food-logo{
    margin: 20px auto;
    width: 50%;
    display: none;
}

.post-content {
    display: grid;
    margin: 30px auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2px 5px;
}
.post-content>* {
    grid-column: 2/span 1;
}

.post-title{
    display: grid;
    font-size: 35px;
    font-weight: 502000;
    border-bottom: 5px solid var(--red);
    color: var(--red);
}

.preparation{
    display: grid;
    grid-template-columns: 1fr auto;  
    margin-top: 5px;
}
.preparation img{
    grid-column: 2/span 1;
    grid-row: 1/span 4;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.preparation .webicons1 {
    display: inline;
    grid-column: 1/-2;
    height: 20px;
    font-size: 18px;    
    padding-left: 35px; 
    background-image: url('../img/web_icons.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.preparation .webicons2 {
    grid-column: 1/-2;
    height: 20px;
    font-size: 18px;
    padding-left: 35px; 
    background-image: url('../img/web_icons2.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.preparation .webicons3 {
    grid-column: 1/-2;
    height: 20px;
    font-size: 18px;
    padding-left: 35px; 
    background-image: url('../img/web_icons3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.preparation .webicons4 {
    grid-column: 1/-2;
    height: 20px;
    font-size: 18px;
    padding-left: 35px; 
    background-image: url('../img/web_icons4.png');
    background-size: contain;
    background-repeat: no-repeat;

}

  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    margin: 0 auto;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .logo>img {
    max-width: 80px;
  }

  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .breadcrumbs{
    padding: 10px;
  }

  .breadcrumbs-item{
    display: block;
  }

  .breadcrumbs-item:not(:last-of-type)::after{
    content: ' /';
    color: #999;
  }

  .breadcrumbs-link{
    text-decoration: none;
    color: var(--grey);
  }

  .breadcrumbs-link-active{
    font-weight: 500;
  }

  .breadcrumbs-link:hover{
    text-decoration: underline;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
 
  }
  


