{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
		<link rel="stylesheet" href="{% static '/css/style.css' %}" />
		<link rel="stylesheet" href="{% static '/css/responsive_desktop_.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive_phone_.css' %}" />
		<title>Bite With Zest! - the ultimate Life Zest blog</title>
	</head>
<body onresize="resizeWindow()">
<div class="wrapper">  
  <div class="header-wrapper">
    <div class="header">
      <div class="logo">
        <a href="/"><img src="{% static 'img/BwZ_logo_W.png' %}" alt="logo"></a>
      </div>
      <div class="header-nav">
        <ul>
          <li><a href="{% url 'about_view' %}">about</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="javascript:void(0)">fb</a>  <a href="javascript:void(0)">ig</a></li>
        </ul>
      </div> 
    </div>  
  </div>
  <div class="topnav-wrapper desktop" id="myTopnavWrapper">
      <div class="topnav" id="myTopnav">
        {% for category in cat_list %}
        <div class="dropdown" id="dropdown">
          <button class="dropbtn {% if category.description == object.description %}active{% endif %}"><a href="{% url 'category_view' category.slug  %}" >{{category.description}}</a></button>
        </div>
        {% endfor %}
    </div> 
  </div>
  <div class="topnav-wrapper mobile" id="myTopnavWrapperMob">
    <div class="openclose mobile" onclick="openNav()">&#9776;</div>
    <div id="BwzNav" class="overlay mobile">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      {% for category in cat_list_asc %}
      <div class="overlay-content">
        <a href="{% url 'category_view' category.slug  %}">{{category.description}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="content" id="content">
    {% if request.resolver_match.url_name  == 'about_view' %}
	   	 	{% block about %}{% endblock about %}
		{% endif %} 
		{% if request.resolver_match.url_name  == 'contact_view' %}
	   	 	{% block contact %}{% endblock contact %}
		{% endif %} 
		{% block post_content %}{% endblock post_content %}
    {% block post_listed_showcase %}{% endblock post_listed_showcase %} 
    {% block post_showcase %}{% endblock post_showcase %}   
</div> 
</div> 
<div class="footer">
  <div class="footer-copyright">
    <p>For creation of this website no animal was harmed.<br />Copyright © 2021 BiteWithZest.<br />
      All rights reserved. Unauthorized use of copyrighted content is prohibited and punishable.</p>
  </div>  
  
</div>

<script src="{% static '/js/scrollr.js' %}"></script>
<script src="{% static '/js/bwz.js' %}"></script>
<script>
      var s = skrollr.init();
      var w = window.outerWidth;
      if (w <= 640) {
        s.destroy();
      }
      navSlide();
      setActive();
</script>
</body>
</html>
