/* Responsive layout - when the screen is less than 48em wide, make the two columns stack on top of each other instead of next to each other */
/* 48em = 768px */
@media screen and (max-width: 48em) {
  header{
    position: absolute;
    top: 0;
    left: 0;
    padding:0 3%;
    background: url('/../media/layout/header.png') no-repeat top left;
    width: 100%;
  }
  .navbar{
    position: absolute;
    top: 100px;
    right: 0;
    padding: 0 3%;
    background: url('/../media/layout/topnavMob.png') no-repeat top;
    background-size: auto;
    width: 100%;
    background-size: 100%;
    height: 200px;
    
  }
  .navbar ul{
    float:right;
    display: flex;
  }
  .navbar ul li{ 
    list-style: none;
  }
  .navbar ul li a{ 
    height:50px; 
    line-height: 30px;
    font-size: 18px;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
  }
  .sticky {
    position: fixed;
    top: 100px;
    width: 100%;
    animation: smoothScroll 1s forwards;
    padding: 0 10%;
  }

}




